/* SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Julee&family=Source+Code+Pro&display=swap');

:root,
:root.theme-1 {
	--bg-color: #252A34;
	--primary-color: #ff2e63;
	--secondary-color: rgb(8, 217, 214);
	--white-color: #EAEAEA;
	--shadow: #08d9d6a8;
	--shadow2: #ff2e63a8;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: var(--secondary-color);
	transition: all .5s;
	scroll-behavior: smooth;
}

/* END SETTINGS */

body {
	background-color: var(--bg-color);
}

/*  Navigation Bar Style Start */
header nav {

	padding: 10px 10%;
	background-color: var(--bg-color);
	box-shadow: 0px 1px 10px var(--shadow);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav div a {
	font-size: 40px;
	font-weight: bold;
	font-family: 'Julee', cursive;
	text-shadow: 0 0 5px var(--shadow);
}

nav div a:hover,
nav div a.active {
	text-shadow: 0 0 5px var(--primary-color);
	color: var(--primary-color);
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li {
	margin-left: 25px;
}

nav ul li a {
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Source Code Pro', monospace;
}

nav ul li a:hover {
	color: var(--primary-color);
}

/* Navigation Bar Style End */


main {
	padding: 10px 10%;
	font-family: 'Source Code Pro', monospace;
}

section {
	padding: 90px 0px;
}

section h2.title {
	display: inline-block;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(90deg, var(--secondary-color), transparent);
}

/* Hero Section Style Start */
.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero-text {
	max-width: 60%;
	color: var(--white-color);
}

.hero-text span {
	font-weight: bold;
	color: var(--primary-color);
}

.hero-text h4 {
	margin-top: 20px;
	color: var(--white-color);
	text-justify: newspaper;
}

.hero-img img {
	max-height: 600px;
	width: 100%;
	filter: drop-shadow(0px 50px 70px var(--shadow));
}

.hero-img img:hover {
	filter: drop-shadow(0px 50px 70px var(--shadow2));
	transform: scale(1.05);
}

/* Hero Section Style End */

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 20px;
}

.skill_container {
	margin: 20px 0px;
	padding: 10px 20px;
}

.skill_title {
	color: var(--white-color);
	font-weight: bolder;
	margin-bottom: 20px;
	/* font-size: 110%; */

}

.icons {
	display: flex;
	flex-direction: row;
}

.icon {
	padding: 10px;
	margin-right: 10px;
	border-radius: 7px;
	border: 0.5px solid var(--shadow);
	background-color: transparent;
	filter: drop-shadow(0px 0px 10px var(--shadow));
}

.icon img {
	max-width: 60px;
}

.icon img:hover {
	transform: scale(1.1);
}



.active {
	color: var(--primary-color);
}

/* #skills-title:hover,#projects-title:hover,#edu-title:hover{
	color: var(--primary-color);
} */